%h3
  Welcome to Our Personal Assistant

.container
  .row.mb-3
    .col-sm-4.themed-grid-col.bg-info.shadow.p-3.rounded#card_erdnuss
      = render 'spinner'
    .col-sm-4.themed-grid-col.bg-info.shadow.p-3.rounded#card_weather
      = render 'spinner'
-#    .col-sm-4.themed-grid-col.bg-info.shadow.p-3.rounded#card_foobar
-#      = render 'spinner'
